body,
html{
	width: 100%;
    height: 100%;
	font-family: 'Cinzel Decorative', cursive;
	 background: url(field.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}


.center1{
	text-align: center;
	display: flex;
}	

h1{
	font-size: 3rem;

}

hr{
	border-color: black;
	border-width: 5px;
	max-width: 70px;
}


.btn{
	border-radius: 300px;
	border-width: 5px;

}

.btn-xl {

   padding: 1rem 2rem;


}

.header{
	justify-content: center;

}

.content{
	    top: 50%;
    transform: translateY(150%);
}
